* {
    margin: 0px;
    padding: 0px;
}

.packLg {
    width: 1306px;
    height: 608px;
    border: 1px solid #2b542c;
    margin: 0px auto;
}

canvas {
    border: 4px double black;
    float: right;
}

.margin-top {
    margin-top: 20px
}

.btn-list {
    height: 608px;
    width: 96px;
    border: 1px solid black;
    float: left;
}

.btn-select {
    width: 47%;
    height: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: hotpink;
}
.seprate{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 4px 0px;
}
.sizeBtn